#masterContainer{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: hsl(0,10%,10%);
}

#masterContainer canvas{
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
}